@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: url(wp7849844-neon-landscape-wallpapers.jpg) no-repeat center / cover transparent;

}

section{
    display: flex;
    top: 0;
    left: 0;
    min-height: 100vh;
    background-color: #ffffff43;
}

.title{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
    font-size: 1.5rem;
}

.btn{
    display: flex;
    position: absolute;
    bottom: 30px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.box{
    background-color: #ffffffa7;
    position: absolute;
    top: 15vh;
    left: 30vw;
    width: 500px;
    height: 400px;
    border: rgba(0, 0, 0, 0.708) solid 2px;
}

.btn a{
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 500;
    color: #fff;
    background-color: rgba(41, 8, 85, 0.842);
    border-radius: 10px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.btn a:hover{
    background-color: rgba(99, 20, 190, 0.782);
    color: rgb(22, 6, 42);
    transition: linear .2s;
}

